<!doctype html>
<html>
<head>
    <title>title liam is dumb</title>
    <meta name="viewport" content="width=device-width">

    
    <link rel="stylesheet" href="/static/style.css">    
</head>
<body>

    <h1>place to do quotes</h1>
    

    
    <div class="quotes">

        {% for q in quotes %}
        <div class="quote">
            <p class="text">{{ q.text }}</p>
            <pre class="author">    {{ q.author }}</pre>
        </div>
        {% endfor %}
        
    </div>


</body>
</html>