<!doctype html>
<html>
<head>
    <title>Submit a new quote</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="static/style.css">

    <script src="static/script.js"></script>
</head>
<body>

    <h1>place to do quotes</h1>


    <div class="submit-quote">
        <input id="input-text" placeholder="Quote" />
        <input id="input-author" placeholder="Who said it?" />
        <button id="send">Send</button>
    </div>
    


</body>
</html>